<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>

  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>Our services</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eaque incidunt repudiandae ratione at aperiam ab reiciendis consequuntur adipisci ut.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eaque incidunt repudiandae ratione at aperiam ab reiciendis consequuntur adipisci ut.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eaque incidunt repudiandae ratione at aperiam ab reiciendis consequuntur adipisci ut.</p>
  </div>
  
</body>
</html>